{# -- Component Variables -- #}

{% set this = {
    menu: navMenu,
    social: megaMenu.social,
    cart: params.cart,
    siteName: params.siteName,
    siteUrl: params.siteUrl,
    logo: params.logo
} %}

{# -- Component Template -- #}

<nav class="c-navigation">

    <div class="c-navigation__toggle">
        <button class="c-hamburger" data-toggle-menu>
            <span class="c-hamburger__line"></span>
            <span class="c-hamburger__line"></span>
            <span class="c-hamburger__line"></span>
        </button>
    </div>

    {% if this.menu %}
    <ul class="c-navigation__menu c-menu is-hidden">

        {% for item in this.menu.get_items %}
            {% set activeMenuClass = ('current-menu-item' in item.classes == 1) ? ' is-current' %}
            {# {% set activeMenuClass = ('current-menu-ancestor' in item.classes == 1) ? ' is-current' %} #}
            {# {% set activeMenuClass = ('current_page_parent' in item.classes == 1) ? ' is-current' %} #}
            {# {% set activeMenuClass = ('current_page_ancestor' in item.classes == 1) ? ' is-current' %} #}

            <li class="c-navigation__menuItem c-menuItem{{ activeMenuClass }}{% if item.children or (item.enable_mega_menu == 1) %} has-submenu{% endif %}"{% if item.enable_mega_menu == 1 %} aria-haspopup="true" aria-expanded="false"{% endif %}>

                {% if item.enable_mega_menu == 1 %}
                    <a href="{{ item.link }}" class="u-nav-link" data-trigger-megamenu data-toggle="megamenu-{{ item.id }}">
                        {{ item.title }}
                    </a>
                    <span class="u-toggle">
                        {{ source('_elements/svg/arrow-down.svg') }}
                    </span>

                {% elseif item.children %}
                    <a href="{{ item.link }}" class="u-nav-link" data-trigger-submenu data-toggle="primary__sub-{{ item.id }}">
                        {{ item.title }}
                    </a>
                    <span class="u-toggle">
                        {{ source('_elements/svg/arrow-right.svg') }}
                    </span>

                {% else %}
                    <a href="{{ item.link }}" class="u-nav-link{% if item.target == '_blank' %} is-external{% endif %}"{% if item.target != '_self' %} target="{{ item.target }}"{% endif %}>
                        {{ item.title }}
                        {% if item.target == '_blank' %}
                            {{ source('_elements/svg/external-link.svg') }}
                        {% endif %}
                    </a>

                {% endif %}

                {# if there is a Mega Menu #}
                {% if item.enable_mega_menu == 1 %}
                    {% set menuCardEyebrow = item.megamenu_feature.eyebrow %}
                    {% set menuCardImage = item.megamenu_feature.image %}
                    {% set menuCardHeadline = item.megamenu_feature.headline %}
                    {% set menuCardText = item.megamenu_feature.text %}
                    {% set menuCardbutton = item.megamenu_feature.button %}
                    {% set menuMegaMenu = item.megamenu_columns %}

                    <div id="megamenu-{{ item.id }}" class="c-mega-menu is-hidden" aria-hidden="true">
                        {% if menuCardImage or menuCardHeadline or menuCardbutton %}
                            <div class="c-mega-menu__card c-card">
                                {% if menuCardEyebrow %}
                                    <strong class="u-eyebrow">{{ menuCardEyebrow }}</strong>
                                {% endif %}
                                {% if menuCardImage %}
                                    {% include '_elements/picture.twig' with {
                                        params: {
                                            src: menuCardImage,
                                            ratio: '16:9',
                                            sizes: '(min-width: 900px) 25vw, 75vw'
                                        }
                                    } only %}
                                {% endif %}
                                {% if menuCardHeadline %}
                                    <h2 id="{{ menuCardHeadline|sanitize|slice(0, 24) }}" class="c-card__headline u-heading">{{ menuCardHeadline }}</h2>
                                {% endif %}
                                {% if menuCardText %}
                                    <div class="c-card__text u-wysiwyg">
                                        {{ menuCardText }}
                                    </div>
                                {% endif %}
                                {% if menuCardbutton %}
                                    {% include '_elements/button.twig' with {
                                        params: {
                                            url: menuCardbutton.url,
                                            text: menuCardbutton.title,
                                            target: menuCardbutton.target,
                                            type: 'inverse'
                                        }
                                    } only %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="c-mega-menu__columns">
                            {% for column in menuMegaMenu %}
                                <div class="c-mega-menu__column">
                                    {% if column.column_image %}
                                        {% include '_elements/picture.twig' with {
                                            params: {
                                                src: column.column_image,
                                                ratio: '16:9',
                                                sizes: '(min-width: 900px) 25vw, 75vw'
                                            },
                                            classes: 'c-mega-menu__image'
                                        } only %}
                                    {% endif %}
                                    {% if column.column_title %}
                                        <h3 class="c-mega-menu__title">{{ column.column_title }}</h3>
                                    {% endif %}
                                    {% if column.column_menu %}
                                        <ul class="c-mega-menu__list">
                                            {% for submenu in column.column_menu %}
                                                {% set submenuItem = submenu.menu_item %}
                                                <li class="c-mega-menu__item">
                                                    <a href="{{ submenuItem.url }}" class="u-nav-link"{% if submenuItem.target == '_blank' %} target="_blank" rel="noopener noreferrer nofollow"{% endif %}>{{ submenuItem.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {# if there is a Dropdown Menu #}
                    {% elseif item.children %}
                        <ul id="primary__sub-{{ item.id }}" class="c-submenu is-hidden" aria-hidden="true">

                            {% for submenu in item.children %}
                                {% set activeMenuClass = ('current-menu-item' in submenu.classes == 1) ? ' is-current' %}
                                {# {% set activeMenuClass = ('current-menu-ancestor' in submenu.classes == 1) ? ' is-current' %} #}
                                {# {% set activeMenuClass = ('current_page_parent' in submenu.classes == 1) ? ' is-current' %} #}
                                {# {% set activeMenuClass = ('current_page_ancestor' in submenu.classes == 1) ? ' is-current' %} #}
                                <li class="c-submenu__item{{ activeMenuClass }}">
                                    <a href="{{ submenu.link }}" class="u-nav-link">
                                        {{ submenu.title }}
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>

                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{{ this.siteUrl }}" id="logo" class="c-navigation__logo">
        {% if this.logo is not empty and '.svg' in this.logo %}
            {{ source('_elements/svg/logo.svg') }}
        {% elseif this.logo is not empty %}
            <img src="{{ this.logo }}" alt="{{ this.siteName }} logo" class="c-media__image" />
        {% else %}
            <strong>{{ this.siteName }}</strong>
        {% endif %}
    </a>

    <div class="c-navigation__search">
        <button type="button" class="icon-trigger">
            {{ source('_elements/svg/search.svg') }}
        </button>
        {{ fn('get_product_search_form') }}
    </div>

    <div class="c-navigation__cart">
        <a href="{{ fn('wc_get_cart_url') }}" class="c-tooltip__anchor" aria-describedby="view_cart">
            {{ source('_elements/svg/cart.svg') }}
            {% if this.cart.get_cart_contents_count() > 0 %}
                <span class="cart-count">{{ this.cart.get_cart_contents_count() }}</span>
            {% endif %}
        </a>
        <div id="view_cart" class="c-tooltip" role="tooltip">View Cart</div>
    </div>

</nav>
